h1 {
  color: #ddcc4f;
}

.form-background {
  background-color: #ffd4dd; 
  border-radius: 10px;
  margin-left: 250px;
  margin-right: 250px; /*margin ensures box does not touch edge of computer*/
  padding-top: 20px; /*padding ensures text doesnt touch edge of box */
  padding-bottom: 20px;
}

.styling-the-labels {
  display: flex;
  flex-direction: column;
  place-items: center;
  font-size: 18px; 
}

.label-spacing { 
  padding: 5px; 
}

#intro-section {
  text-align: center;
}

.select-option-styling {
  padding: 3px;
  border-radius: 8px;
}

#submit {
  font-size: 14px; 
  margin-top: 10px;
  padding: 5px;
  background-color:	#fdedc4; 
  border: transparent;
  border-radius: 8px;
  color:#6f2d90;
}

#submit:hover {
  background-color: #DACB8C;
}

#survey-form {
  color:  #33216a;
}

header p {
  font-size: 28px;
  color: 	#cdcc4f;
}

body {
  font-family: Special Gothic, sans-serif;
}

html {
  background-color: #212e53;
}
