h1 {
  color: blue; /*placeholder*/
}

.form-background {
  background-color: yellow;
  border-radius: 10px;
}

/*
.styling-the-labels {
  display: flex;
  flex-direction: column;
}
*/

#name-label,
#email-label,
#age-label {
  padding: 5px;
  place-items: center;
}

#intro-section {
  text-align: center;
}

header p {
  font-size: 28px;
}

body {
  font-family: Special Gothic, sans-serif;
}
