h1 {
  color: blue; /*placeholder*/
}

.form-background {
  background-color: yellow; /*placeholder*/
  border-radius: 10px;
  margin-left: 100px;
  margin-right: 100px; /*margin ensures box does not touch edge of computer*/
  padding-top: 20px; /*padding ensures text doesnt touch edge of box */
  padding-bottom: 20px;
}

.styling-the-labels {
  display: flex;
  flex-direction: column;
  place-items: center;
  font-size: 18px; 
}

#name-label,
#email-label,
#age-label {
  padding: 5px; /*adds spacing between each form input*/
}

#intro-section {
  text-align: center;
}







header p {
  font-size: 28px;
}

body {
  font-family: Special Gothic, sans-serif;
}
